#page-6 {
  width: 100%;
  height: 100vh;
  background-color: #efeae3;
  padding: 10vw 2vw;
}

#page-6 h3 {
  font-size: 1vw;
  color: #000;
}
.heading{
  display: flex;
  gap: 1vw;
  padding: 0 0 5vw 3vw;
}
.gol{
  width: 1vw;
  height: 1vw;
  background-color: #FE330A;
  border-radius: 50%;
}
.swiper {
  width: 100%;
  height: 100%;
  padding: 0 3vw !important;
}

.swiper-slide {
  text-align: left;
  font-size: 15px;
  width: 25vw !important;
  /* background: #444; */
  display: flex !important;
  height: 20vw !important;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  margin: 0 !important;
  border-left: 1px solid #5a585850;
  padding-left: 1vw;
  padding-right: 4vw;
}

.swiper-slide img {
 width: 15vw;
 padding-bottom: 2vw;
}

.footer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  /* background-color: black; */
  background: linear-gradient(to bottom, red, black);
  z-index: 9;
  bottom: 0;
  align-items: center;
  justify-content: center;
}

.footer h1 {
  font-size: 22vw;
  text-align: center;
  color: #fff;
  position: absolute;
  bottom: 0;
  /* z-index: 9; */
}
#page-5 {
  width: 100%;
  height: 100vh;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 20vw;
}
.footer-left h2 {
  font-size: 2vw;
  color: #fff;
  font-weight: 700;
}
.footer-right h3 {
  font-size: 1.5vw;
  color: #fff;
  margin-bottom: 1vw;
  font-weight: 200;
}
.footer-right {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 25%;
}
.footer-right input {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  height: 3vw;
  font-size: 1.3vw;
}
.footer-right input::placeholder {
  color: #fff;
}
